/*primary font*/
/*secondary font*/
/*link*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none !important;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 20px;
}

html.overlayed, body.overlayed {
    overflow: hidden !important;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #0a65c2;
    transition: .2s;
    position: relative;
}

a:hover, a:focus {
    text-decoration: none;
    color: #0cb6ac;
}

.idea-clear, .list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.idea-clear-col {
    padding-left: 0;
    padding-right: 0;
}

.none {
    display: none;
}

.adaptive {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.owl-item {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

/*cover image*/
.image-cover {
    display: block;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.image-cover img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.image-cover img.vertical {
    top: 50%;
    left: 0;
    height: auto;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*contain image*/
.image-contain {
    display: block;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.image-contain img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.image-cover.round,
.image-contain.round {
    border-radius: 50%;
}

/*vertical align*/
.verticaly-top,
.verticaly-middle,
.verticaly-bottom {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.verticaly-top:after,
.verticaly-middle:after,
.verticaly-bottom:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
}

.verticaly-top .inner,
.verticaly-middle .inner,
.verticaly-bottom .inner {
    display: inline-block;
    width: 100%;
    white-space: normal;
}

.verticaly-top:after,
.verticaly-top .inner {
    vertical-align: top;
}

.verticaly-middle:after,
.verticaly-middle .inner {
    vertical-align: middle;
}

.verticaly-bottom:after,
.verticaly-bottom .inner {
    vertical-align: bottom;
}

.ideas-wrapper {
    background: #fff;
    max-width: 1200px;
    min-width: 800px;
    margin: 100px auto;
    border: 1px solid #ddd;
    padding: 15px;
    overflow: hidden;
}

.row.collapsed-row {
    margin-left: -1px;
    margin-right: -1px;
}

.row.collapsed-row > * {
    padding-left: 1px;
    padding-right: 1px;
}

.idea-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.empty-text {
    display: block;
    color: #b3b9c1;
    font-size: 14px;
    text-align: center;
    padding: 5px 15px;
    background: #f0f0f0;
    border-radius: 3px;
}

.empty-text.hidden {
    display: none;
}

.typical-title {
    font-size: 20px;
    font-weight: 300;
    margin: 25px 0 15px;
}

.layout-block {
    display: table;
    width: 100%;
}

.layout-block > .cell {
    display: table-cell;
    vertical-align: top;
}

.layout-block > .cell:first-child {
    width: 10px;
    padding-right: 15px;
    white-space: nowrap;
}

.users-list {
    list-style: none;
}

.user-layout {
    display: table;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
    margin-bottom: 10px;
}

.user-layout > .image > a {
    display: block;
    border: none;
}

.user-layout > .image,
.user-layout > .info {
    display: table-cell;
    vertical-align: middle;
}

.user-layout > .image:first-child,
.user-layout > .info:first-child {
    width: 45px;
    padding-right: 10px;
}

.user-layout > .info {
    line-height: 1.4;
    color: #7b8593;
}

.photos-list {
    display: block;
    font-size: 0;
}

.photos-list > li {
    display: inline-block;
    vertical-align: top;
    width: 86px;
    margin: 0 5px 5px 0;
}

.photos-list > li a {
    display: block;
    border: 3px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.photos-list > li a:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: .1s;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
}

.photos-list > li a:hover:after {
    opacity: 1;
}

.list > li {
    padding-left: 20px;
    position: relative;
    margin: 5px 0;
}

.list > li:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #444;
    position: absolute;
    top: 7px;
    left: 0;
}

.offset-top {
    margin-top: 10px;
}

.offset-bottom {
    margin-bottom: 10px;
}

.add-wrapper {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.svg) no-repeat center;
    background-size: cover;
    padding: 20px;
    min-width: 1000px;
}

.add-wrapper .idea-btn {
    background: linear-gradient(to bottom, #5698e9 0%, #356bc9 100%);
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
    font-weight: 400;
}

.add-wrapper .idea-btn:hover {
    background: linear-gradient(to bottom, #5698e9 0%, #356bc9 100%);
    border: 1px solid transparent;
    box-shadow: inset 0 -50px 0 0 rgba(255, 255, 255, 0.4);
}

.add-wrapper .idea-btn:last-child {
    margin-right: 0;
}

.add-wrapper .idea-btn.idea-btn-link {
    border-color: transparent;
    text-decoration: none;
}

.add-wrapper .back-link {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    border: 2px solid #7b8593;
    vertical-align: middle;
    color: #7b8593;
    border-radius: 50%;
    font-size: 9px;
    margin-right: 10px;
}

.add-wrapper .logo {
    display: inline-block;
    font-size: 25px;
    vertical-align: middle;
    color: #333;
}

.add-wrapper .logo span {
    color: #2fc6f7;
}

.add-wrapper .header {
    height: 100px;
}

.add-wrapper .header nav {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.add-wrapper .header .title {
    margin-top: 30px;
    font-size: 22px;
    color: #333;
}

.add-wrapper .content {
    height: calc(100% - 200px);
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.add-wrapper .footer {
    height: 100px;
    padding-top: 20px;
}

a.grey {
    color: #b3b9c1;
}

a.grey:hover {
    color: #333;
}

.test-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.test-icon.icon1 {
    background: url(../img/icon1.png) no-repeat center;
}

.test-icon.icon2 {
    background: url(../img/icon2.png) no-repeat center;
}

.test-icon.icon3 {
    background: url(../img/icon3.png) no-repeat center;
}

.test-icon.icon4 {
    background: url(../img/icon4.png) no-repeat center;
}

.test-icon.icon5 {
    background: url(../img/icon5.png) no-repeat center;
}

.idea-btn {
    display: inline-block;
    color: #fff;
    background: #3bc8f5;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 3px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .2s;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.idea-btn .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.idea-btn .idea-btn-icon {
    margin-right: 5px;
    font-size: 130%;
}

.idea-btn:hover, .idea-btn:focus {
    background: #0a94c0;
    color: #fff;
}

/*default*/
.idea-btn.idea-btn-default {
    background: transparent;
    color: #b3b9c1;
    border: 1px solid #b3b9c1;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}

.idea-btn.idea-btn-default:hover, .idea-btn.idea-btn-default:focus {
    background: #b3b9c1;
    color: #fff;
}

/*success*/
.idea-btn.idea-btn-success {
    background: #bbed21;
    color: #444;
}

.idea-btn.idea-btn-success:hover, .idea-btn.idea-btn-success:focus {
    background: #9dcb10;
    color: #444;
}

/*danger*/
.idea-btn.idea-btn-danger {
    background: #f2380d;
}

.idea-btn.idea-btn-danger:hover, .idea-btn.idea-btn-danger:focus {
    background: #912208;
    color: #fff;
}

/*link*/
.idea-btn.idea-btn-link {
    background: transparent;
    color: #444;
    text-decoration: underline;
}

.idea-btn.idea-btn-link:hover, .idea-btn.idea-btn-link:focus {
    background: transparent;
    text-decoration: none;
    color: #444;
}

.idea-btn.idea-btn-simple {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.dropdown {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 5;
    text-align: left;
    vertical-align: top;
}

.dropdown .anchor {
    position: relative;
    padding-right: 30px;
    margin: 0;
}

.dropdown .anchor:after {
    font-family: 'icomoon';
    content: "\e910";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 10px;
    top: 50%;
    margin-top: -9px;
    transition: -webkit-transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s;
}

.dropdown .dropdown-menu {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    width: 100%;
    border-radius: 3px;
    display: none;
    padding: 10px 15px;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown .dropdown-menu > ul {
    margin: 0 -15px;
}

.dropdown .dropdown-menu > ul li {
    padding: 7px 15px 7px 40px;
    color: #333;
    cursor: pointer;
    position: relative;
}

.dropdown .dropdown-menu > ul li:hover {
    background: #f0f0f0;
}

.dropdown .dropdown-menu > ul li .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    left: 10px;
    font-size: 120%;
}

.dropdown .dropdown-menu > ul a {
    display: block;
    padding: 7px 15px 7px 40px;
    margin: -7px -15px -7px -40px;
    color: inherit;
}

.dropdown.right-origin .dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown.active .idea-btn.idea-btn-default {
    background: #f0f0f0;
    color: #b3b9c1;
}

.dropdown.active .anchor:after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.dropdown.active .dropdown-menu {
    display: block;
}

.idea-btn.idea-btn-xs {
    line-height: 14px;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 12px;
}

.idea-btn.add-idea-btn {
    display: block;
    width: 100%;
    font-size: 24px;
    height: 24px;
    line-height: 22px;
    padding: 4px 5px;
    color: #b3b9c1;
    background: transparent;
    text-align: center;
}

.idea-btn.add-idea-btn:before {
    content: "+";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 100%;
    background: transparent;
    border-radius: 50%;
}

.idea-btn.add-idea-btn:hover:before {
    background: #3bc8f5;
    color: #fff;
}

.idea-btn.add-idea-btn:hover, .idea-btn.add-idea-btn:focus {
    background: transparent;
    color: #333;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:before {
    content: '';
    display: block;
    border: 5px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    z-index: 3;
    margin-top: -4px;
    transition: .2s;
    opacity: 0;
    border-bottom: 5px solid #fff;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    color: #444;
    background: #fff;
    font-size: 11px;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 100%;
    white-space: nowrap;
    border-radius: 2px;
    margin-top: 5px;
    pointer-events: none;
    transition: .2s;
    opacity: 0;
    margin-left: -20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
    opacity: 1;
}

.tooltip {
    position: relative;
    z-index: 2;
}

.tooltip:before {
    content: '';
    display: block;
    border: 5px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    z-index: 3;
    margin-top: -4px;
    transition: .2s;
    opacity: 0;
    border-bottom: 5px solid #fff;
}

.tooltip .tooltip-text {
    color: #444;
    background: #fff;
    font-size: 11px;
    padding: 5px 10px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 100%;
    min-width: 150px;
    max-width: 200px;
    border-radius: 2px;
    margin-top: 5px;
    text-align: left;
    line-height: 1.4;
    transition: .2s;
    display: none;
    margin-left: -20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.tooltip .tooltip-text a {
    display: inline-block;
    max-width: 100%;
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip:hover .tooltip-text, .tooltip:hover:before {
    display: block;
}

.ui-draggable-dragging {
    z-index: 20;
    position: absolute !important;
}

.hight-index {
    position: relative;
    z-index: 5;
}

/* custom */
.custom-drag {
    position: relative;
    margin: 15px -2px;
}

.custom-drag > .item {
    position: absolute;
    width: 33.3333%;
    padding: 2px;
    z-index: 2;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: top .2s, left .2s, right .2s, bottom .2s, opacity .2s, -webkit-transform .2s;
    transition: transform .2s, top .2s, left .2s, right .2s, bottom .2s, opacity .2s;
    transition: transform .2s, top .2s, left .2s, right .2s, bottom .2s, opacity .2s, -webkit-transform .2s;
    opacity: 0;
}

.custom-drag > .item:hover {
    z-index: 3;
}

.custom-drag > .item.dragged {
    transition: none;
}

.custom-drag > .item.loaded {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.custom-drag > .item.drag-anchor {
    border: 3px dotted #ddd;
    /*text-align: center;*/
    font-weight: 300;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #b3b9c1;
    background: #f0f0f0;
    padding: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.custom-drag .dropper {
    position: absolute;
    z-index: 5;
    display: block;
    transition: none;
    pointer-events: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-drag .dropper .idea {
    margin: 0;
}

.custom-drag .dropper:not(.active) {
    top: 1000% !important;
    left: 1000% !important;
}

.custom-drag .dropper.active {
    pointer-events: auto;
    opacity: .5;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icons/icomoon.eot?bncnlk");
    src: url("../fonts/icons/icomoon.eot?bncnlk#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?bncnlk") format("truetype"), url("../fonts/icons/icomoon.woff?bncnlk") format("woff"), url("../fonts/icons/icomoon.svg?bncnlk#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e900";
}

.icon-vk:before {
    content: "\e901";
}

.icon-instagram:before {
    content: "\e902";
}

.icon-linkedin:before {
    content: "\e903";
}

.icon-googleplus:before {
    content: "\e904";
    color: #f34a38;
}

.icon-ok:before {
    content: "\e905";
}

.icon-twitter:before {
    content: "\e906";
}

.icon-youtube:before {
    content: "\e907";
}

.icon-vimeo:before {
    content: "\e908";
}

.icon-behance:before {
    content: "\e909";
}

.icon-dribbble:before {
    content: "\e90a";
}

.icon-slideshare:before {
    content: "\e90b";
}

.icon-user:before {
    content: "\e90c";
}

.icon-chevron-right:before {
    content: "\e90d";
}

.icon-chevron-left:before {
    content: "\e90e";
}

.icon-chevron-up:before {
    content: "\e90f";
}

.icon-chevron-down:before {
    content: "\e910";
}

.icon-arrow-left:before {
    content: "\e911";
}

.icon-arrow-right:before {
    content: "\e912";
}

.icon-arrow-up:before {
    content: "\e913";
}

.icon-arrow-down:before {
    content: "\e914";
}

.icon-play-button:before {
    content: "\e915";
}

.icon-play:before {
    content: "\e916";
}

.icon-pause-button:before {
    content: "\e917";
}

.icon-pause:before {
    content: "\e918";
}

.icon-clock:before {
    content: "\e919";
}

.icon-note:before {
    content: "\e91a";
}

.icon-map:before {
    content: "\e91b";
}

.icon-forward:before {
    content: "\e91c";
}

.icon-backward:before {
    content: "\e91d";
}

.icon-up:before {
    content: "\e91e";
}

.icon-down:before {
    content: "\e91f";
}

.icon-close:before {
    content: "\e920";
}

.icon-check:before {
    content: "\e921";
}

.icon-lock:before {
    content: "\e922";
}

.icon-calendar:before {
    content: "\e923";
}

.icon-image:before {
    content: "\e924";
}

.icon-star:before {
    content: "\e925";
}

.icon-star-filled:before {
    content: "\e926";
}

.icon-smartphone:before {
    content: "\e927";
}

.icon-mail:before {
    content: "\e928";
}

.icon-link:before {
    content: "\e929";
}

.icon-like:before {
    content: "\e92a";
}

.icon-dislike:before {
    content: "\e92b";
}

.icon-like-rev:before {
    content: "\e92c";
}

.icon-dislike-rev:before {
    content: "\e92d";
}

.icon-menu:before {
    content: "\e92e";
}

.icon-menu-opened:before {
    content: "\e92f";
}

.icon-comment:before {
    content: "\e930";
}

.icon-blog:before {
    content: "\e931";
}

.icon-calendar2:before {
    content: "\e932";
}

.icon-chat:before {
    content: "\e933";
}

.icon-list:before {
    content: "\e934";
}

.icon-bell:before {
    content: "\e935";
}

.icon-flame:before {
    content: "\e936";
}

.icon-search:before {
    content: "\e937";
}

.idea {
    font-size: 12px;
    background: #eef2f4;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    cursor: default;
    transition: .2s;
    margin-right: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.idea .head {
    margin-bottom: 5px;
}

.idea .title {
    font-size: 14px;
    font-weight: 600;
    color: inherit;
}

.idea .title:hover {
    color: #0a65c2;
}

.idea .date {
    margin: 5px 0;
}

.idea .tags-list {
    font-size: 0;
    margin: 10px 0;
}

.idea .tags-list > li {
    vertical-align: top;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    margin-right: 2px;
    margin-bottom: 2px;
    background: #b3b9c1;
    font-weight: 500;
    line-height: 1;
    padding: 4px 6px;
    border-radius: 10px;
}

.idea .tags-list > li.primary {
    background: #0a65c2;
}

.idea .tags-list > li.info {
    background: #0cb6ac;
}

.idea .tags-list > li.alert {
    background: #944dfd;
}

.idea .tags-list > li.danger {
    background: #f8a70b;
}

.idea .tags-list > li.error {
    background: #f2380d;
}

.idea .text {
    line-height: 1.42;
    margin: 10px 0;
    word-wrap: break-word;
    display: none;
}

.idea .images-list {
    margin: 10px -2px;
    display: none;
}

.idea .images-list a {
    display: block;
    width: 100%;
    height: auto;
}

.idea .images-list a:hover {
    opacity: .7;
}

.idea .images-list .image-cover {
    padding-top: 75%;
}

.idea .images-list li {
    padding: 2px;
    float: left;
    width: 33.333%;
}

.idea .images-list li.large {
    width: 66.666%;
}

.idea .idea-btn.active {
    background: #3bc8f5;
    border-color: #3bc8f5;
    color: #fff;
}

.idea .toggler {
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    border: none;
    border-radius: 3px;
    width: 24px;
    height: 24px;
    line-height: 26px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    transition: .2s;
    cursor: pointer;
}

.idea .toggler .icon-menu {
    display: inline;
}

.idea .toggler .icon-menu-opened {
    display: none;
}

.idea .toggler:hover {
    background: rgba(0, 0, 0, 0.1);
}

.idea .inline-middle {
    margin-right: 4px;
}

.idea .follow {
    color: inherit;
    border: none;
    text-decoration: none;
}

.idea .follow:hover {
    color: #0a65c2;
    text-decoration: none;
}

.idea:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.idea.active .text,
.idea.active .images-list {
    display: block;
}

.idea.active .toggler .icon-menu-opened {
    display: inline;
}

.idea.active .toggler .icon-menu {
    display: none;
}

.idea.selected {
    /*background: #87d5ef;*/
    background: #fff;
    border: 1px solid #cecece;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.idea.primary {
    border-color: #0a65c2;
}

.idea.danger {
    border-color: #f8a70b;
}

.idea.info {
    border-color: #0cb6ac;
}

.idea-title {
    position: relative;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    margin: 15px 0 5px;
    transition: .3s;
}

.idea-title.primary {
    background: #0a65c2;
}

.idea-title.info {
    background: #0cb6ac;
}

.idea-title.danger {
    background: #f8a70b;
}

.ideas-list
, .ideas-table-list {
    position: relative;
    z-index: 2;
    min-height: 100%;
    /*min-height: 400px;*/
}

.ideas-list:before {
    content: '';
    display: block;
    border-left: 1px dashed #ddd;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: -1;
}

.ideas-list > li:not(.ui-draggable-dragging) {
    /*position: static !important;*/
    /*top: 0 !important;*/
    /*left: 0 !important;*/
    /*height: auto !important;*/
    /*width: auto !important;*/
}

.ideas-list > li:not(:last-child) {
    padding-bottom: 20px;
}

.ideas-list > li.faded {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .2;
}

.ideas-list.simple {
    font-size: 0;
    margin: 15px 0;
}

.ideas-list.simple > li:not(.ui-draggable-dragging) {
    display: inline-block;
    width: 33.333% !important;
    vertical-align: top;
}

.ideas-list.simple .idea {
    border-color: transparent;
}

.ideas-list.grayscaled .idea {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border: none;
}

.ideas-list.grayscaled .idea .head {
    background: rgba(0, 0, 0, 0.1);
    margin: -10px -15px 10px;
    padding: 10px 15px;
}

.ideas-list:hover {
    z-index: 3;
}

.ideas-form {
    height: 100%;
}

.idea-article {
    background: #eef2f4;
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    min-width: 800px;
}

.idea-article hr {
    display: block;
    height: 1px;
    border: none;
    background: #fff;
    margin: 15px 0;
}

.idea-article .tags-list {
    font-size: 0;
}

.idea-article .tags-list > li {
    vertical-align: top;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #b3b9c1;
    font-weight: 500;
    line-height: 1;
    padding: 7px 10px;
    border-radius: 20px;
}

.idea-article .tags-list > li a {
    display: block;
    padding: 7px 10px;
    margin: -7px -10px;
    color: inherit;
    border: none;
    border-radius: 20px;
}

.idea-article .tags-list > li a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.idea-article .tags-list > li.primary {
    background: #0a65c2;
}

.idea-article .tags-list > li.info {
    background: #0cb6ac;
}

.idea-article .tags-list > li.alert {
    background: #944dfd;
}

.idea-article .tags-list > li.danger {
    background: #f8a70b;
}

.idea-article .tags-list > li.error {
    background: #f2380d;
}

.idea-article .space-block {
    padding: 30px 50px;
}

.idea-article p {
    line-height: 1.6;
    margin: 20px 0;
}

.idea-article .card {
    background: #d5f1fc;
    color: #444;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
}

.idea-article .card:hover {
    background: #3bc8f5;
    color: #fff;
}

.links-container {
    margin: 0 -5px;
}

.links-container a {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}

.link {
    color: #7b8593;
    border-bottom: 1px dashed #b3b9c1;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.link .icon {
    position: absolute;
    right: 100%;
    top: 2px;
    margin-right: 5px;
}

.link.right-origin {
    margin-left: 0;
    margin-right: 20px;
}

.link.right-origin .icon {
    right: auto;
    left: 100%;
    margin-right: 0;
    margin-left: 5px;
}

.link:hover, .link:focus {
    color: #7b8593;
}

.link:hover {
    border-color: transparent;
}

.link:active {
    color: #f8a70b;
}

.link.active .icon-flame {
    color: #f8a70b;
}

.link.active .icon-bell {
    color: #0cb6ac;
}

.typical-table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #fff;
}

.typical-table th, .typical-table td {
    padding: 10px 15px;
}

.typical-table thead {
    background: #f4f0d2;
    font-size: 14px;
    text-align: left;
    cursor: default;
    font-weight: 500;
}

.typical-table thead a {
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
    color: inherit;
    text-decoration: none;
}

.typical-table thead a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.typical-table thead .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    margin: 0 5px;
}

.typical-table tbody {
    font-weight: 400;
}

.typical-table tbody td {
    border-top: 1px solid #fff;
}

.typical-table tbody tr:nth-child(odd) {
    background: #f1f7fa;
}

.typical-table tbody tr:nth-child(even) {
    background: #e7edf0;
}

/*lightbox*/
.lightbox {
    font-weight: 400
}

.lb-loader, .lightbox {
    text-align: center;
    line-height: 0
}

.lb-dataContainer:after, .lb-outerContainer:after {
    content: "";
    clear: both
}

html.lb-disable-scrolling {
    overflow: hidden;
    position: fixed;
    height: 100vh;
    width: 100vw
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff
}

.lb-loader, .lb-nav {
    position: absolute;
    left: 0
}

.lb-outerContainer:after {
    display: table
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/loading.gif) no-repeat
}

.lb-nav {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container > .nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next, .lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/prev.png) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/next.png) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    display: table
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-caption a {
    color: #4ae
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) top right no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

.idea-input {
    display: inline-block;
    min-width: 200px;
    position: relative;
    background-color: white;
    min-height: 33px;
    border: 1px solid #c6cdd3;
    padding: 5px 5px;
    margin-right: 10px;
}

.idea-input-add {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    font-size: 13px;
    line-height: 17px;
    color: #2067b0;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color 0.2s linear;
    transition: border-bottom-color 0.2s linear;
}

.idea-input-add:hover {
    border-bottom: 1px solid;
}

.idea-input-add:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAH0lEQVQoz2NgQAIK6Rv+gzADLkCeApggLkxYAe0dCQDF5T3p5/14OgAAAABJRU5ErkJggg==) no-repeat center;
    content: '';
    height: 8px;
    left: -14px;
    position: absolute;
    top: 4px;
    width: 8px;
}

.idea-entity-delete {
    width: 30px;
    height: 30px;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: -13px;
}

.idea-entity-delete:after {
    content: '';
    background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.2;
    width: 6px;
    height: 6px;
    background: url("/bitrix/js/tasks/css/images/media.png") no-repeat -2px -17px;
}

.idea-entity-wrap .deleted,
.idea-article .tags-list > li.deleted {
    display: none;
}

.idea-article .idea-entity-wrap .tags-list > li {
    padding: 0px 10px;
}

.idea-change-btn, .idea-article .tags-list, .idea-current-category, .reminder-list {
    display: block;
    float: left;
}

.idea-article .tags-list {
    margin-top: -4px;
}

.idea-current-reminder {
    margin-top: -16px;
}

.idea-popup-close {
    content: "";
    position: absolute;
    top: 6px;
    right: 6px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}


.idea-popup-btn {
    cursor: pointer;
}

.idea-current-category {
    margin-right: 10px;
}

.ideas-entity-popup {
    display: none;
    min-width: 320px;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    position: absolute;
    z-index: 30;
    left: 30px;
}

.ideas-entity-popup.visible {
    display: block;
}

.idea-reminder-popup {
    min-width: 554px;
}

.idea-reminder-period-delimeter {
    line-height: 36px;
}

.idea-found-entity {
    list-style: none;
    padding: 0px 0px;
}

.idea-found-entity li {
    color: #7b8593;
    padding: 4px 0px;
    cursor: pointer;
}

.idea-found-entity li:hover {
    color: #333;
}

#idea-reminder-date
, #idea-reminder-period-select
, .idea-reminder-input-time {
    position: relative;
    width: 156px;
    height: 36px;
    line-height: 36px;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #c6cdd3;
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
}

#idea-reminder-period-select {
    margin-top: -2px;
}

#idea-change-reminder #idea-reminder-period-select {
    margin-top: 0px;
    width: 132px;
}

.idea-reminder-input-time-small {
    width: 34px;
}

#idea-reminder-period-time {
    display: none;
}

.idea-reminder-btn-wrapper {
    margin-top: 10px;
}

#idea-popup {
    width: 80%;
}

#idea-popup.popup-auto-width {
    width: auto;
}

#idea-popup.popup-transparent {
    background-color: transparent;
}

#idea-popup .popup-window-content {
    padding: 20px 20px;
    background: #fff;
}

#idea-popup.popup-transparent .popup-window-close-icon {
    top: 10px;
    right: 10px;
}

#idea-popup .file-selectdialog .file-simple, #idea-popup .file-selectdialog .file-extended {
    display: block;
}

.idea-article .feed-comments-block {
    margin: 20px 0px;
}

.ideas-list .idea .text iframe {
    max-width: 100%;
    height: auto;
}

.idea-fire {
    display: inline-block;
    width: 10px;
    height: 12px;
    background-image: url("../img/fire.png");
}

.idea-check {
    display: inline-block;
    width: 11px;
    height: 12px;
    background-image: url("../img/check.png");
}

.idea-category-edit {
    position: absolute;
    top: 10px;
    right: 30px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.idea-category-edit:after {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url("../img/edit_white.png");
}

.idea-category-delete {
    width: 12px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 8px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.idea-category-delete:before
, .idea-category-delete:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background-color: #fff;
}

.idea-category-delete:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.idea-category-delete:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.idea-category-edit:hover
, .idea-category-delete:hover {
    opacity: 1;
}

.idea-title-input {
    color: #333;
    border: 1px solid #efefef;
}

.idea-title-input:not(:disabled) {
    width: calc(100% - 100px);
}

.idea-count {
    margin-right: 26px;
}

.idea-title-input:disabled {
    font-weight: 600;
    background: transparent;
    color: #fff;
    border: none;
    display: inline;
    padding: 0;
}

.idea-count:before {
    content: "(";
}

.idea-count:after {
    content: ")";
}

.idea-color-edit {
    position: absolute;
    right: 30px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    display: none;
}

.idea-color-edit:hover {
    opacity: 1;
}

.idea-color-edit:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 2px;
    background-image: url("../img/color.png");
}

.idea-color-edit.visible {
    display: inline-block;
}

.idea-sort-btn {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: .3s;
    transition: .3s;
}

.idea-sort-btn:hover {
    opacity: 1;
}

.idea-sort-edit {
    display: none;
}

.idea-sort-edit.visible {
    display: inline-block;
}

.color-picker-wrap {
    display: none;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
    position: absolute;
    z-index: 30;
    left: 30px;
}

.color-picker-wrap.visible {
    display: block;
}

.color-picker-list {
    list-style: none;
    padding: 0;
    width: 112px;
}

.color-picker-list-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin: 4px;
    font-size: 0;
    cursor: pointer;
}

.color-picker-list-item:hover {
     box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .24);
}

.idea-category-confirm {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 14px;
    right: 5px;
    opacity: 0.6;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

.idea-category-confirm:hover {
    opacity: 1;
}

.idea-category-confirm.visible {
    display: inline-block;
}

.idea-category-confirm:before
, .idea-category-confirm:after {
    content: "";
    position: absolute;
    top: 9px;
    left: -2px;
    width: 6px;
    height: 2px;
    background-color: #fff;
}

.idea-category-confirm:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-50deg);
    width: 12px;
    left: 4px;
    top: 6px;
}

.idea-category-confirm:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.ajax-shadow{
    background: rgba(255,255,255,0.5);
    display: block;
    position: absolute;
    z-index: 1080;
}

.iboard-menu-wrap {
    display: inline-block;
}

.ideas-list-toggle {
    float: right;
}

.idea-ico {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    opacity: .6;
    transition: .3s;
}

.idea-ico:hover {
    opacity: 1;
}

.idea-restore-btn {
    background: url("../img/restore_ico.png") no-repeat;
    background-size: contain;
}

.idea-remove-btn:before
, .idea-remove-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 2px;
    background-color: #000;
    opacity: .6;
}

.idea-remove-btn:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.idea-remove-btn:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.idea-add-form-wrapper .bxhtmled-textarea {
    background-color: rgba(255,255,255,0.5) !important;
}

.idea-property-name {
    color: #a9adb2;
    display: inline-block;
    width: 100%;
    font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
    opacity: .7;
    cursor: default;
}

.idea-input::-webkit-input-placeholder
, .idea-input::-moz-placeholder
, .idea-input:-moz-placeholder
, .idea-input:-ms-input-placeholder {
    color: #a9adb2;
}

div.ideas-filter-form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 7px 21px rgba(83, 92, 105, .12), 0 -1px 6px 0 rgba(83, 92, 105, .06);
}

div.ideas-filter-form.visible {
    display: inline-block;
}

.ideas-filter-wrap {
    position: relative;
    display: inline-block;
    min-width: 300px;
    width: calc(100% - 50px);
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    min-height: 40px;
}

.ideas-filter-wrap .idea-input {
    min-width: 100%;
    height: 28px;
    border-radius: 2px;
    padding: 0px 10px;
    margin-right: 0px;
}

.ideas-filter-wrap .idea-input.idea-input-name {
    min-width: 240px;
    min-height: 28px;
    border: none;
}

.ideas-filter-wrap form {
    display: inline-block;
    margin: 4px 4px;
}

.ideas-filter-wrap .ideas-search-ico {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 30px;
    margin: 4px 0;
    background: url("../img/search_ico.png") no-repeat;
    background-position: center center;
    opacity: .7;
    cursor: pointer;
}

.ideas-filter-wrap .ideas-search-ico:hover {
    opacity: 1;
}

.ideas-filter-wrap .idea-input.idea-input-small {
    min-width: 49.5%;
    display: inline-block;
}

.idea-property-wrap {
    margin: 10px 0px;
}

.ideas-filter-wrap .task-form-field {
    width: 100%;
}

.ideas-filter-wrap .idea-active-filter-val-wrap {
    background: #bcedfc;
    margin: 4px 4px;
    display: inline-block;
    overflow: hidden;
    color: #1f6ab5;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 8px 0px 8px;
}

.idea-active-filter-val {
    padding: 0 0 0 10px;
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.idea-active-filter-del {
    width: 25px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: auto;
}

.idea-active-filter-del:before
, .idea-active-filter-del:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 1px;
    margin-top: -1px;
    background-color: #1f6ab5;
}

.idea-active-filter-del:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.idea-active-filter-del:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.workarea-content-paddings {
    min-height: 100%;
}

.ideas-list-toggle {
    display: inline-block;
    border: 1px solid #c6cdd3;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    opacity: .7;
}

.ideas-list-toggle:hover {
    opacity: 1;
}

.ideas-list-toggle.ideas-list-toggle-table {
    background-image: url("../img/ideas_table_ico.png");
}

.ideas-list-toggle.ideas-list-toggle-list {
    background-image: url("../img/ideas_list_ico.png");
}

.ideas-not-founded-msg-wrap {
    margin: 20px 0;
}

.idea-important-switch {
    cursor: pointer;
}

.ideas-menu-col {
    margin-bottom: 20px;
}

#idea_form_idea_edit .feed-add-post-form-but-wrap {
    margin: 0 10px;
}

.ideas-scroller {
    position: relative;
    /*overflow: auto;*/
    /*height: 100%;*/
}

.ideas-scroller .row {
    /*display: block;*/
}

.ideas-list>li.ui-sortable-helper{
    position:absolute !important;
}

.col-xs-2.idea-category-wrap {
    min-width: 300px;
    flex-basis: 300px;
    min-width: 300px;
    max-width: 300px;
    float: left;
}

.ps__rail-x
, .ps__rail-y {
    z-index: 1030;
}

.date {
    cursor: default;
}

form#idea_add_form {
    margin-top: -40px;
}

.create-idea-name-input {
    padding: 0px 0px;
    font-size: 22px;
    opacity: .6;
    border: none;
    /*border-bottom: 1px solid #808080;*/
    margin-left: 10px;
    background: transparent;
}

.idea-success-created
, .idea-error-created {
    margin: -40px 0 60px 10px;
}

.idea-error-created {
    display: inline-block;
    padding: 10px 10px;
    background: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
    border-radius: 4px;
}

input.idea-name-edit {
    margin-left: 10px;
    padding: 4px;
    border: none;
    width: 100%;
}

.ideas-table-list .ps__rail-x
, .ideas-scroller .ps__rail-y {
    display: none !important;
}

.idea-user-name {
    line-height: 20px;
}

.idea-follow {
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    cursor: pointer;
    background: url(../img/follow_ico.png) no-repeat right center;
    background-size: 16px 16px;
    opacity: .4;
}

.idea-follow.unfollow {
    opacity: 1;
}

.idea .user-layout {
    margin-bottom: 0px;
}

.idea-reminder-period-days>span {
    line-height: 36px;
    color: #414141;
    font-size: 14px;
    margin-left: 8px;
}

#idea-reminder-period-days {
    width: 56px;
}

.user-layout > .info.idea-user-no-photo {
    line-height: 22px;
}

.ideas-scroller-container {
    position: relative;
}

.ideas-list-left
, .ideas-list-right {
    position: absolute;
    top: 50%;
    margin: -40px 0 0 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 160px;
    cursor: pointer;
    /*opacity: 0;*/
    /*pointer-events: none;*/
    -webkit-transition: .4s;
    transition: .4s;

    opacity: .5;
    z-index: 99;
    pointer-events: auto;
}

.ideas-list-left:hover
, .ideas-list-right:hover {
    opacity: 1;
}

.ideas-list-left {
    background: url(../img/arrow_left.png) center left no-repeat;
    background-size: 70%;
}

.ideas-list-right {
    left: auto;
    right: 0;
    background: url(../img/arrow_right.png) center right no-repeat;
    background-size: 70%;
}